@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
$primary: #17214d;
$secondary: #f4a640;
$white: #fff;
$dark_white: #fafafa;
$black: #000;
$primary-active: #162b49;
$secondary-active: #f4a640;
$link_hover: blue;
$light_text: #555185;
$dark_text: #1f1f1f;
$flex_dark_text: #06063d;
$placeholder: #6c798b;
$btn_active: #f4a64080;
$sponsors_bg: #fff2dd;
$box1_bg: linear-gradient(0deg, #ffffff 13.15%, #e06c6c 113.15%);
$box2_bg: linear-gradient(0deg, #ffffff 13.15%, #ffd67d 113.15%);
$box3_bg: linear-gradient(0deg, #ffffff 5.01%, #8beb91 105.01%);
$shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
$shadow_hover: rgba(0, 0, 0, 0.09) 0px 3px 12px;
$driving_test_bg: linear-gradient(0deg, #ffffff 13.15%, #5ac1df 113.15%);
$why_choose_bg: linear-gradient(0deg, #ffffff 13.15%, #ffe2b3 113.15%);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Infant", serif;
  font-style: normal;
}

/*
font-family: 'Montserrat', sans-serif;
 */

body {
  background-image: url("./images/ahh_greet.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  z-index: -10;
  position: relative;
}
div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}

.text {
  width: 100%;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 800;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);

  @media screen and (min-width: 375px) {
    font-size: 2.5rem;
  }

  @media screen and (min-width: 768px) {
    font-size: 10rem;
  }
}

/* POP-UP */
.pop_up {
  &_sec {
    position: fixed;
    width: fit-content;
    height: fit-content;
    top: 15%;
    left: 35%;
    z-index: 1000;

    @media (min-width: 992px) {
      top: 20%;
      left: 10%;
    }

    &.show_pop {
      width: 100%;
    }

    &_inner {
      position: relative;
      display: grid;
      gap: 0.5rem;
    }
  }

  &_box1,
  &_box2,
  &_box3,
  &_box4,
  &_box5 {
    padding: 0.5rem 1rem;
    background: $white;
    color: $primary;
    box-shadow: $shadow_hover;
    font-weight: 700;
    width: 11rem;
    border-radius: 3px;
    display: none;
  }
}

/* FADE ANIMATION */
.fade {
  display: block;
  animation-name: fade;
  animation-duration: 0.5s;
}
@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.made_by {
  background: $white;
  color: $black;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  img {
    width: 2rem;
    aspect-ratio: 1/1;
  }
}
